@import "tailwindcss";
@import "uniwind";

@theme {
  /* Base sans */
  --font-sans: "InterTight-Regular";

  /* Weight variants */
  --font-sans-thin: "InterTight-Thin";
  --font-sans-extralight: "InterTight-ExtraLight";
  --font-sans-light: "InterTight-Light";
  --font-sans-medium: "InterTight-Medium";
  --font-sans-semibold: "InterTight-SemiBold";
  --font-sans-bold: "InterTight-Bold";
  --font-sans-extrabold: "InterTight-ExtraBold";
  --font-sans-black: "InterTight-Black";

  /* Italics */
  --font-sans-italic: "InterTight-Italic";
  --font-sans-thin-italic: "InterTight-ThinItalic";
  --font-sans-extralight-italic: "InterTight-ExtraLightItalic";
  --font-sans-light-italic: "InterTight-LightItalic";
  --font-sans-medium-italic: "InterTight-MediumItalic";
  --font-sans-semibold-italic: "InterTight-SemiBoldItalic";
  --font-sans-bold-italic: "InterTight-BoldItalic";
  --font-sans-extrabold-italic: "InterTight-ExtraBoldItalic";
  --font-sans-black-italic: "InterTight-BlackItalic";

  /* Colors */
  --color-background: #ffffff;
  --color-foreground: #0f172a;

  --color-card: #ffffff;
  --color-card-foreground: #0f172a;

  --color-primary: #dc2626;
  --color-primary-foreground: #ffffff;

  --color-secondary: #fff1f1;
  --color-secondary-foreground: #0f172a;

  --color-muted: #f1f5f9;
  --color-muted-foreground: #64748b;

  --color-accent: #dc2626;
  --color-accent-foreground: #ffffff;

  --color-destructive: #dc2626;
  --color-destructive-foreground: #ffffff;

  --color-border: #e2e8f0;
  --color-input: #f1f5f9;
  --color-ring: #dc2626;

  --radius-xl: 12px;
}

.dark {
  --color-background: #0f172a;
  --color-foreground: #f8fafc;

  --color-card: #1e293b;
  --color-card-foreground: #f8fafc;

  --color-primary: #ef4444;
  --color-primary-foreground: #0f172a;

  --color-secondary: #1e293b;
  --color-secondary-foreground: #f8fafc;

  --color-muted: #334155;
  --color-muted-foreground: #94a3b8;

  --color-accent: #ef4444;
  --color-accent-foreground: #0f172a;

  --color-destructive: #f87171;
  --color-destructive-foreground: #0f172a;

  --color-border: #334155;
  --color-input: #334155;
  --color-ring: #ef4444;
}
